<div class="container mt-5">
  <div class="col-md-4 offset-md-4">
    <h3>Register</h3>
    <form (ngSubmit)="register()">
      <input class="form-control mb-3"
             placeholder="Name"
             [(ngModel)]="name"
             name="name"
             required>

      <input class="form-control mb-3"
             type="email"
             placeholder="Email"
             [(ngModel)]="email"
             name="email"
             required>

      <input class="form-control mb-3"
             type="password"
             placeholder="Password"
             [(ngModel)]="password"
             name="password"
             required>

      <button class="btn btn-primary w-100">Register</button>
    </form>
  </div>
</div>
